<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_9emElo6eNAuErQV2tDDL4g7x1u_qhPY</string>
	<key>GCM_SENDER_ID</key>
	<string>390243950339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.restaurantFoodlyy</string>
	<key>PROJECT_ID</key>
	<string>restaurant-foodly-cd875</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurant-foodly-cd875.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390243950339:ios:62e18593ef655b8a739336</string>
</dict>
</plist>